*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #0A0B0B;
}
header{
    background-color: #333;
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
footer{
    height: 600px;
    margin-top: 50px;
    justify-content: space-evenly;
    align-items: center;
}
.sectionCont{
 height: 900px;
 margin-top: 50px;
}
/*Estilos Logo de la pagina*/
.logoCont{
    width: 40%;
}
.logoCont img{
    width: auto;
    height: 100%;
}
/*Estilos de la barra de navegacion*/
.navCont{
    width: 40%;
}

.navCont nav ul{
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
}
.navCont nav ul li{
    list-style: none;
}
.navCont nav ul li a:hover{
    text-decoration: underline;
}
.navCont nav ul li a{
    text-decoration: none;
    color: aliceblue;
}

/*Estilos del Slider*/
#sliderCont{
    height: 90vh;
    overflow: hidden;
}
.sliderInner{
    display: flex;
    transition: all 0.3s ease-in;
    flex-direction: row;
    flex-wrap: nowrap;
   
}
.sliderInner img{
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
}
/*Estilos de las flechas del slider*/
.arrowIcon{
    position: absolute;
    bottom: 15%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.arrowIcon i:hover{
    transform: scale(1.3, 1.3);
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.arrowIcon i{
    font-size: 48px;
    color: aliceblue;
    background-color: hsl(0, 0%, 20%, 40%);
    padding: 24px;
    border-radius: 25px;
}
.arrowIcon :first-child{
    margin-left: 15px;
}
.arrowIcon :last-child{
    margin-right: 15px;
}

/*Estilos seccion sobre nosotros y carreras*/
#sobreNosotros{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.aboutTxt{
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.aboutTxt h2{
    color: #FCDB59;
    font-weight: bold;
    margin: 0;
    font-size: 4rem
}
.aboutTxt p{
    color: aliceblue;
    text-align: center;
    font-size: 1.2rem;
}
#sobreNosotros img{
    height: 70%;
    width: 45%;
    object-fit: cover;
}

#carreras{
    margin-top: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#carreras img{
    height: 70%;
    width: 45%;
    object-fit: cover;
}

.aboutTxt a{
    text-decoration: none;
    color: aliceblue;
    font-size: 2rem;
    box-shadow:  1px 1px 1px 1px aliceblue;
}
.aboutTxt a:hover{
    box-shadow: inset 1px 1px 1px 1px aliceblue;
}
/*Estilos seccion nuestos juegos/franquicias*/
#nuestrosJuegos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.juegosTitle h2{
    color: aliceblue;
    font-weight: bold;
    font-size: 4rem
}

.gridCont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 15rem);
    height: 90%;
    align-items: center;
    justify-items: center;
}

.gridItem{
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 24px;
}
.item1{
    background-color: aliceblue;
}
.item2{
    /*background-image: radial-gradient(ellipse farthest-corner at 50% 50%, rgba(50, 50, 50, 0.8), rgba(80, 80, 80, 0.2));*/
    background-color: #ffe316;
}
.item3{
    background-color: aliceblue;
}

.item4{
    background-color: #0A0B0B;
    grid-column: 1/4;
    width: 96%;
}
.item5{
    background-color: aliceblue;
    grid-row: 3;
}
.item6{
    background-color: #e0f2f9;
    grid-row: 3;
}

/*Estilos del footer*/
.container-foot{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    height: 90%;
    align-items: center;
}

.contact-us{
    width: 50%;
    height: 70%;
}
.contact-us h2{
    font-weight: bold;
    color: rgb(222, 194, 78);
}
.contact-us p{
    color: aliceblue;
}


.connect-with-us{
    width: 40%;
    height: 40%;
    display: flex;
    align-items: self-end;
    justify-content: end;
}

.contact-cont h2{
    font-size: 2rem;
    color: rgb(222, 194, 78);
}
.social-icons{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}
.social-icons li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 2rem;
}


/*Responsive design*/

@media (max-width: 1000px){
    .arrowIcon{
        bottom: 50%;
    }
    #sobreNosotros{
        flex-direction: column;
    }
    #sobreNosotros img{
        width: 90%;
    }
    #carreras{
        flex-direction: column;
    }
    .aboutTxt{
        width: 90%;
    }
    .aboutTxt h2{
        text-align: center;
    }
    #carreras img{
        width: 90%;
    }
    .juegosTitle{
        text-align: center;
    }
}

@media (max-width: 590px){
    .arrowIcon{
        bottom: 70%;
    }
    .gridCont{
        grid-template-rows: repeat(3, 10rem);
    }
}