body{
    background-color: #0A0B0B;
}

header{
    background-color: #333;
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.nav{
    visibility: visible;
}
.nav-list{
    display: flex;
    list-style-type: none;
    gap: 1.2rem;
    margin-right: 10rem;
}
.nav-list li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1rem;
}
.nav-list li a:hover{
    text-decoration: underline;
}

.menu-toggle{
    display: none;
}


.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.game {
    margin: 20px;
    position: relative;
    width: 280px;
}

.game img {
    max-width: 300px;
    padding: auto ;
    border-radius: 5px;
}
.game_1 {
    margin: 20px;
    position: relative;
    width: 500px;
}

.game_1 img {
    max-width: 620px;
    padding: auto ;
    border-radius: 5px;
}
.game_2 {
    margin: 20px;
    position: relative;
    width: 1800px;
    margin-left: 115px;
}

.game_2 img {
    max-width: 1800px;
    padding: auto ;
    border-radius: 5px;
}

.game .description {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    transition: opacity 0.3s;
    max-height: 100px; /* Altura máxima */
    overflow-y: auto;
}

.game:hover .description {
    display: block;
}

/* Estilo para la sección del banner */
.banner-cabecera {
    background-image: url("../IMG/nuestros_juegos/banner.jpg"); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 400px; /* Altura deseada */
    color: #fff; /* Color del texto */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Agrega posición relativa para posicionar el contenido interno */
}

.banner-cabecera_2 {
    background-image: url("../IMG/banner_2.jpg"); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 400px; /* Altura deseada */
    color: #fff; /* Color del texto */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Agrega posición relativa para posicionar el contenido interno */
}

/* Estilo para el fondo semitransparente */
.banner-cabecera:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ancho al 100% del contenedor padre */
    height: 100%; /* Altura al 100% del contenedor padre */
    z-index: auto; /* Detrás del contenido */
    border-radius: inherit; /* Utiliza el mismo borde redondeado que el contenedor padre */
}

/* Estilo para el contenido dentro de la sección */
.contenido {
    position: relative; /* Agrega posición relativa para posicionar el contenido interno */
    z-index: auto; /* Encima del fondo semitransparente */
    background-color: transparent; /* Fondo transparente */
    padding: 20px;
    border-radius: 10px;
}

/* Estilo para el título en el banner */
.contenido h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

/* Estilo para el párrafo en el banner */
.contenido p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Estilo para el botón en el banner */
.contenido .boton {
    background-color: #0c3d4b;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Estilo para el botón en hover */
.contenido .boton:hover {
    background-color: #334867;
}

::-webkit-scrollbar {
    display: none; /*oculta la barra de navegacion*/
}

#videos {
    display: flex;
    justify-content: space-between; /* Para que los videos estén separados con espacio entre ellos */
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 calc(33.33% - 10px);
    margin: 5px;
    height: 50vh;
}

@media screen and (max-width: 768px) {
    .video-container {
        flex: 0 0 calc(50% - 10px); /* 2 columnas en pantallas medianas */
        height: 40vh; /* Ajusta la altura en pantallas medianas */
    }
}

@media screen and (max-width: 480px) {
    .video-container {
        flex: 0 0 calc(100% - 10px); /* 1 columna en pantallas pequeñas */
        height: 50vh; /* Ajusta la altura en pantallas pequeñas */
    }
}

/*Estilos del footer*/
.container-foot{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    height: 90%;
    align-items: center;
}

.contact-us{
    width: 50%;
    height: 70%;
}
.contact-us img{
    width: 9rem;
    object-fit: cover;
}
.contact-us h2{
    font-weight: bold;
    color: rgb(222, 194, 78);
}
.contact-us p{
    color: aliceblue;
}


.connect-with-us{
    width: 40%;
    height: 40%;
    display: flex;
    align-items: self-end;
    justify-content: end;
}

.contact-cont h2{
    font-size: 2rem;
    color: rgb(222, 194, 78);
}
.social-icons{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}
.social-icons li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 2rem;
}

@media (max-width: 790px){
    #sliderCont{
        height: auto;
    }
    .arrowIcon{
        bottom: 70%;
    }
    .arrowIcon i{
        font-size: 2rem;
    }
    .gridCont{
        grid-template-rows: repeat(3, 10rem);
    }
    .menu-toggle{
        display: flex;
        margin-right: 4rem;
        font-size: 1.5rem;
        color: aliceblue;
    }
    .nav{
        background-color: #0A0B0B;
        position: absolute;
        right: 0;
        left: 100%;
        top: 5%;
        bottom: 0;
        z-index: 1;
        visibility: hidden;
        transition: all 0.5s ease-in-out;
    }
    .nav-list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 30%;
        justify-content: space-evenly;
    }
    .contact-cont h2{
        font-size: 2rem;
        text-align: center;
    }

}